body{
    margin: 0;
}

#container1 {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'hd hd'
    'as1 as1'
    'main1 main1'
    'sec1 sec1'
    'ft ft';
    grid-template-columns: 1fr 70%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#container2{
    height: 100vh;
    display: grid;
    grid-template-areas:
    'hd hd'
    'as2 as2'
    'main2 main2'
    'sec2 sec2'
    'ft ft';
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#container3{
    height: 100vh;
    display: grid;
    grid-template-areas:
    'hd hd'
    'as3 as3'
    'main3 main3'
    'sec3 sec3'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#container4{
    height: 100vh;
    display: grid;
    grid-template-areas:
    'hd hd'
    'main4 main4'
    'as4 as4'
    'sec4 sec4'
    'art4 art4'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

header {
    grid-area: hd;
    background: green;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.menu-button i.material-icons{
    font-size: 2.5rem;
}

.menu {
    background-color: blueviolet;
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: -80vw;
    transition: left 0.3s;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

nav a{
    flex:1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color: aqua;
}

.menu a{
    text-decoration: none;
}


.show {
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}


aside{
    background: red;
    padding: 1rem;
}

#as1{
    grid-area: as1;
}

#as2{
    grid-area:as2;
}

#as3{
    grid-area:as3;
}

#as4{
    grid-area:as4;
}

main{
    background: blue;
    padding: 1rem;
}

#main1{
    grid-area: main1;
    
}

#main2{
    grid-area: main2;
}

#main3{
    grid-area: main3;
}

#main4{
    grid-area: main4;
}

section{
    background: yellow;
    padding: 1rem;
}

#sec1{
    grid-area: sec1;
}

#sec2{
    grid-area: sec2;
}

#sec3{
    grid-area: sec3;
}

#sec4{
    grid-area: sec4;
}

#art4{
    grid-area: art4;
    padding: 1rem;
    background: lime;
}

footer {
    grid-area: ft;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

@media (min-width: 600px) {
    #container1 {
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'as1 main1'
        'sec1 sec1'
        'ft ft';
    }
    #container2{
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'main2 as2'
        'sec2 sec2'
        'ft ft';
    }
    #container3{
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'main3 sec3'
        'as3 sec3'
        'ft ft';
    }

    #container4{
        grid-template-areas: 
        'hd hd hd'
        'nav nav nav'
        'main4 main4 main4'
        'as4 sec4 art4'
        'ft ft ft';
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu {
        grid-area: nav;
        width: 100vw;
        position: relative;
        left: 0;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    .menu-button{
        display: none;
    }

    #main1{
        display: grid;
        grid-template-areas: 
        'i1 i2'
        'i3 i4';
    }

    footer{
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        align-items: baseline;
    }

}