body{
    margin: 0;
    background-color: #fafafa;
    color: #0d2134;
    width: 100vw;
    overflow-x: hidden;
}

#container1 {
    display: grid;
    grid-template-areas: 
    'hd hd'
    'sec1 sec1'
    'main1 main1'
    'as1 as1'
    'div1 div1'
    'art1 art1'
    'div2 div2'
    'ft ft';
    grid-template-columns: 1fr 70%;
}

#container2{
    display: grid;
    grid-template-areas:
    'hd hd'
    'as2 as2'
    'main2 main2'
    'sec2 sec2'
    'ft ft';
    grid-template-columns: 70% 1fr;
    
}

#container3{
    display: grid;
    grid-template-areas:
    'hd hd'
    'as3 as3'
    'main3 main3'
    'sec3 sec3'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    
}

#container4{
    display: grid;
    grid-template-areas:
    'hd hd'
    'main4 main4'
    'as4 as4'
    'sec4 sec4'
    'art4 art4'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    
}

.box{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    margin: 10px;
}

.box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#logo{
    background-image: url("../img/fulllogo.png");
    height: 100px;
    width: 100px;
    background-size: contain;

}

header {
    grid-area: hd;
    background: #0d2134;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    padding-left: 3rem;
    padding-right: 3rem;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}


.logo {
    display: none;
}

#medlemmar{
    grid-area: div2;
}

#medlemmar h2{
    justify-self: center;
    padding-top: 1rem;
}

#recentioner{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
}

.rec{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    width: 300%;
}


.menu {
    background-color: #0d2134;
    color: #fafafa;
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: -80vw;
    transition: left 0.3s;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.3rem; 
}


.menu a{
    flex:1;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menu a:hover{
    background-color: aqua;
}

a{
    text-decoration: none;
    color:#fafafa;
}

article a{
    color:#0d2134;
}


.show {
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

#header2{
    grid-area: div1;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1,5rem;
}

aside{
    background: #ffffff;
    color: #0d2134;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

aside img{
width: 100%;
height: 100%;
border-radius: 4px;
}

#as1{
    grid-area: as1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#as2{
    grid-area:as2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 1rem;
}

#as3{
    grid-area:as3;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1rem;
    
}

#as4{
    grid-area:as4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1rem;
}

main{
    background: #ffffff;
    padding: 1rem;
    margin: 10px;
    color: #0d2134;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#main1{
    grid-area: main1;
    display: flex;
    align-items: center;
}

#main2{
    grid-area: main2;
}

#main3{
    grid-area: main3;
}

#main4{
    grid-area: main4;
}

section{
    background: #ffffff;
    padding: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: #0d2134;
    margin-left: 10px;
    margin-right: 10px;
}

#sec1{
    grid-area: sec1;
    margin-top: 10px;
    padding: 0;
}

#bakgrund_med_text{
    background-image: url("../img/slogan_png.png");
    background-size: cover;  /* Gör så att bilden täcker hela sektionen */
    background-position: center;  /* Centrera bilden */
    background-repeat: no-repeat;  /* Se till att den inte upprepas */
    height: 300px;  /* Justera höjden efter behov */
    display: flex;
    align-items: center;
    justify-content: center;  /* Centrera texten vertikalt */
    font-size: 2rem;
    font-weight: bold;
    color: #FFD700;
    border-radius: 4px;
    
}


#sec2{
    grid-area: sec2;
    margin-left: 10px;
    margin-right: 10px;
}

#sec3{
    grid-area: sec3;
    margin-top: 10px;
}

#sec4{
    grid-area: sec4;
    
}

article{
    
    padding: 1rem;
    color: #0d2134;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#art1{
    grid-area: art1;
    
}

#art4{
    grid-area: art4;  
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

footer {
    grid-area: ft;
    background: #0d2134;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    color: #fafafa;
}

footer h4{
    color: #FFD700;
    font-size: 1.3rem;
}

@media (min-width: 900px) {
    #container1 {
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'sec1 sec1'
        'as1 main1'
        'div1 div1'
        'art1 art1'
        
        'div2 div2'
        'ft ft';
    }
    #container2{
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'main2 as2'
        'sec2 sec2'
        'ft ft';
    }
    #container3{
        grid-template-areas: 
        'hd hd'
        'nav nav'
        'main3 sec3'
        'as3 sec3'
        'ft ft';
    }

    #container4{
        grid-template-areas: 
        'hd hd hd'
        'nav nav nav'
        'main4 main4 main4'
        'as4 sec4 art4'
        'ft ft ft';
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu {
        grid-area: nav;
        width: 100vw;
        position: relative;
        left: 0;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #gyms{
        display: flex;
        justify-content: space-around;

    }

    header{
        border-radius: 0px;
    }

    .menu-button{
        display: none;
    }

    .logo {
        display:block;        
    }

    #main1{
        display: grid;
    }

    footer{
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        align-items: baseline;

    }

}